@model int

<td>
    <a asp-action="Detail" asp-route-id="@Model"
       class="btn btn-warning">
        <i class="fas fa-eye"></i>
        Detail
    </a>
</td>
<td>
    <a asp-action="Edit" asp-route-id="@Model"
       class="btn btn-success">
        <i class="fas fa-edit"></i>
        Update
    </a>
</td>
<td>
    <a asp-action="Delete" asp-route-id="@Model"
       class="btn btn-danger">
        <i class="fas fa-trash"></i>
        Delete
    </a>
</td>