@model EmployeeViewModel

<input hidden asp-for="ImageName" />

<div class="form-group">
    <label class="col-form-label" asp-for="EmpName"></label>
    <input class="form-control" asp-for="EmpName" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="EmpAge"></label>
    <input class="form-control" asp-for="EmpAge" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="EmpAddress"></label>
    <input class="form-control" asp-for="EmpAddress" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="EmpSalary"></label>
    <input class="form-control" asp-for="EmpSalary" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="EmpEmail"></label>
    <input class="form-control" asp-for="EmpEmail" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="EmpPhone"></label>
    <input class="form-control" asp-for="EmpPhone" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="EmpHireDate"></label>
    <input class="form-control" asp-for="EmpHireDate" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="CreationDate"></label>
    <input class="form-control" asp-for="CreationDate" readonly />
</div>