@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a new Department</h1>

<br />
<br />

<form asp-action="Create">
    @*This is tag related to collect all Errors in one html tag in special use it when use try catch with DB.*@
    <div asp-validation-summary="All"></div>

    @*Add all input tags in one partial view for (Create and Edit).*@
    <partial name="PartialViews\CreateEditDepartmentPartialView"/>

    <input class="btn btn-primary" type="submit" value="submit" /> |
    <a class="btn btn-light" asp-action="Index">Back to List</a>
</form>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial"/>
}