@model EmployeeViewModel

@{
    ViewData["Title"] = "Detail";
}

<h1>Employee Detail</h1>

<br />
<br />

@*Add all input tags in one partial view for (Details and Delete).*@
<partial name="PartialViews/DetailsDeleteEmployeePartialView" />

<a Class="btn btn-secondary"    asp-action="Edit" asp-route-Id="@Model.Id">Edit</a>
|
<a class="btn btn-light"        asp-action="Index">Back to List</a>

