@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Or Update Employee</h1>

<br />
<br />


<form asp-action="Edit" enctype="multipart/form-data">
    @*This is tag related to collect all Errors in one html tag in special use it when use try catch with DB.*@
    <div asp-validation-summary="All"></div>

    @*Add all input tags in one partial view for (Create and Edit).*@
    <partial name="PartialViews/CreateEditEmployeePartialView" />

    <input class="btn btn-primary" type="submit" value="Save" /> |
    <a class="btn btn-light" asp-action="Index">Back to List</a>
</form>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial"/>
}
