@model DepartmentViewModel

<div class="form-group">
    <label class="col-form-label" asp-for="DeptCode"></label>
    <input class="form-control" asp-for="DeptCode" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="DeptName"></label>
    <input class="form-control" asp-for="DeptName" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="DateOfCreation"></label>
    <input class="form-control" asp-for="DateOfCreation" readonly />
</div>