@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">

	<div class="agileits-top">
		<form asp-action="Register" method="post">
			@*The following section of summary validations*@
			<div asp-validation-summary="All"></div>

			<input class="text"			asp-for="FName"				placeholder="First Name"		required="">
			<span class="text-danger" asp-validation-for="FName"></span>

			<input class="text"			asp-for="LName"				placeholder="Last Name"			required="">
			<span class="text-danger" asp-validation-for="LName"></span>

			<input class="text"			asp-for="Email"				placeholder="Email"				required="">
			<span class="text-danger" asp-validation-for="Email"></span>

			<input class="text"			asp-for="Password"			placeholder="Password"			required="">
			<span class="text-danger" asp-validation-for="Password"></span>

			<input class="text"			asp-for="ConfirmPassword"	placeholder="Confirm Password"	required="">
			<span class="text-danger" asp-validation-for="ConfirmPassword"></span>

			<div class="wthree-text">
				<label class="anim mt-3">
					<input asp-for="IsAgree" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>

		<p>Don't need to create new Account? <a asp-action="Login"> Login Now!</a></p>
	</div>
</div>

@*For running summary validation must be calling the "ValidationScriptSection" from _AuthLayout*@
@section ValidationScriptSection{
	<partial name="_ValidationScriptsPartial" />
}
